body {
  background-color: dimgray;
}

.text-box {
  font-size: 36px;
  font-weight: bold;
  color: white;
}

.hidden {
  display: none;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  gap: 10px;
}
